.hover-text-input {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.hover-text-input .hover-text-input-background {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-image: linear-gradient(-225deg, var(--background-color-1-light) 0%, var(--background-color-2-dark) 100%);
}

.hover-text-input .hover-text-input-area {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 50px 5px 5px 5px;
    position: absolute;
}


.hover-text-input .hover-text-input-area .card-title {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
}

.hover-text-input .hover-text-input-area .form-floating {
    width: 100%;
}

.hover-text-input .hover-text-input-area .form-floating textarea {
    height: 150px;
    resize: none;
    color: var(--on-surface-color-1);
    background-color: var(--surface-color-1);
    border-color: var(--on-surface-color-1);
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.hover-text-input .hover-text-input-area .form-floating textarea.large {
    height: 250px;
}


.hover-text-input .hover-text-input-area .hover-text-input-action {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.hover-text-input .hover-text-input-area .hover-text-input-action .action {
    width: 300px;
    height: 35px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.hover-text-input .hover-text-input-area .hover-text-input-action .action button {
    width: 100%;
    min-width: 80px;
    max-width: 100px;
    height: 100%;
    color: black;
    font-weight: 600;
    padding: 5px;
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.hover-text-input .hover-text-input-area .hover-text-input-action .action button.cancel,
.hover-text-input .hover-text-input-area .hover-text-input-action .action button.back {
    margin-right: 20px;
}

.hover-text-input .hover-text-input-area .hover-text-input-action .action button.cancel {
    background-color: var(--error-color-light);
}


.hover-text-input .hover-text-input-area .hover-text-input-action .action button.back {
    background-color: var(--primary-color);
}

.hover-text-input .hover-text-input-area .hover-text-input-action .action button.back span.back-icon,
.hover-text-input .hover-text-input-area .hover-text-input-action .action button.next span.next-icon,
.hover-text-input .hover-text-input-area .hover-text-input-action .action button.cancel span.cancel-icon,
.hover-text-input .hover-text-input-area .hover-text-input-action .action button.submit span.submit-icon {
    font-size: 16px;
    vertical-align: top;
    margin-top: 5px;
    font-weight: bold;
}

.hover-text-input .hover-text-input-area .hover-text-input-action .action button.submit span.submit-icon {
    font-size: 16px;
    font-weight: 500;
}

.hover-text-input .hover-text-input-area .hover-text-input-action .action button.back span.back-icon {
    margin-right: 3px;
}

.hover-text-input .hover-text-input-area .hover-text-input-action .action button.next span.next-icon {
    margin-left: 5px;
}

.hover-text-input .hover-text-input-area .hover-text-input-action .action button.cancel span.cancel-icon {
    margin-left: 3px;
}

.hover-text-input .hover-text-input-area .hover-text-input-action .action button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}