        .component-login {
            height: inherit;
            width: inherit;
            position: absolute;
            top: 0;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: top;
            padding-top: 5%;
            background-color: rgb(220, 231, 230);
        }

        .component-login>.container {
            height: 60%;
        }


        #geoChatLogo {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
        }

        #geoChatLogo>.appName {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: bold;
            font-size: large;
            color: rgb(73, 123, 131);
        }

        #geoChatLogo>img {
            width: 100px;
            height: 100px;
        }

        .component-login>.container .card {
            background-color: rgb(185, 223, 230);
        }

        .component-login>.container .card>.card-header {
            background-color: rgb(125, 211, 235);
        }