@import 'stylesheet/theme/theme.css';

html,
body,
#root {
    width: 100%;
    height: 100%;
}


.left-window {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-1);
    border-color: var(--on-background-1-color);
    border-width: 3px;
    border-style: solid;
    position: relative;
}

.right-window {
    width: inherit;
    height: inherit;
    padding: 5px;
    overflow: auto;
    position: relative;
    background-color: var(--background-color-2);
    border-color: var(--on-background-2-color);
    border-width: 3px;
    border-style: solid;
}